body {
  &::after {
    content: "";
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100vw);
    background-color: var(--color-bg-loader);
    z-index: 1000;
    animation: loader 2s forwards;
  }
}
.wrapper {
  opacity: 0;
  animation: opac 1s forwards;
}

@keyframes loader {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: translateX(100vw);
  }
}

@keyframes opac {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
