<section class="hero section">
  <div class="container container__inner">
    <div class="hero__wrapper">
      <h1 class="title">
        Hello!
        <svg class="icon icon-emoji">
          <use xlink:href="svg/sprite.svg#Hello"></use>
        </svg>
        <br />
        My name is SAUVÉ Jean-Luc <br />
        I’m a Full-Stack <span>Software Engineer</span>
      </h1>
      <p class="info">
          I Love Writing Code That Creates Impact.
      </p>
      <a href="https://mega.nz/file/56pVXQqA#reWvCJqhdl9Wa4JF135-J3erLQTgauSCltqMz323DnQ" class="btn" target=”_blank”>Resume</a>
      <a href="https://github.com/SauveJeanLuc" target=”_blank” class="btn">GitHub</a>
      <a href="#" target=”_blank” class="btn">Blog</a>
      <a href="#" target=”_blank” class="btn">Contact Me</a>
    </div>
  </div>
</section>
