/* Main Colors */
$color-base:#188AEC;
$color-base-alt: #3B82F6;
$color-white: #fff;


:root {
    --color-bg: #fff;
    --color-text: #4B5563;

    --color-bg-nav: #fff;
    --color-br-nav: #f3f4f6;
    --color-bs-nav: #1111111c;

    --color-bg-icon: #F3F4F6;
    --color-light-icon: #4B5563;
    --color-dark-icon: #D1D5DB;

    --color-bg-loader: #F3F4F6;
}

body.dark-theme {
    --color-bg: #111827;
    --color-text:#fff;

    --color-bg-nav: #111827;
    --color-br-nav: #374151;
    --color-bs-nav: #111827;

    --color-bg-icon: #1F2937;
    --color-light-icon: #D1D5DB;
    --color-dark-icon: #4B5563;

    --color-bg-loader: #1F2937;
}

/* Fonts */
$font-family:'Space Grotesk', sans-serif;
$font-size:24px;
$font-weight:400;
$letter-spacing:normal;
$line-height:1.5;

/* Screen sizes */
$screen-s:360px;
$screen-a:768px;
$screen-m:992px;
$screen-n:1024px;
$screen-t:1200px;
$screen-d:1350px;
$screen-x:1600px;
$screen-w:1900px;

$screen-s-min:$screen-s;
$screen-s-max:($screen-s - 1);
$screen-a-min:$screen-a;
$screen-a-max:($screen-a - 1);
$screen-m-min:$screen-m;
$screen-m-max:($screen-m - 1);
$screen-n-min:$screen-n;
$screen-n-max:($screen-n - 1);
$screen-t-min:$screen-t;
$screen-t-max:($screen-t - 1);
$screen-d-min:$screen-d;
$screen-d-max:($screen-d - 1);
$screen-x-min:$screen-x;
$screen-x-max:($screen-x - 1);
$screen-w-min:$screen-w;
$screen-w-max:($screen-w - 1);